language: python
cache: pip

python:
  - "3.6"

install:
    - pip install -r requirements.txt
    - pip install codecov


before_script: # configure a headless display to test plot generation
    - sleep 3 # give xvfb some time to start

script: make test

after_success:
    - codecov --token d33ecf96-a51f-43b6-8429-c11f83b961ad

branches:
  only:
  - master

notifications:
  email: false
